{% extends "base.html" %}
{% block containercontent %}
<p class="lead">Welcome! This is an example Twitter bot.</p>
<div class="hero-unit">
	<p>To get started, we'll need you to authorize Hello world twitter bot app  Twitter using OAuth 2.0 to Tweet on your behalf. Learn more information about <a href="https://developer.twitter.com/en/docs/authentication/oauth-2-0">OAuth 2.0.</a>You should consider using a bot account for this purpose.</p>
</div>
<p>Let's Tweet a Noun/Verb pairing!</p>
<a href="/start" class="btn btn-small btn-success">Let's Begin</a>
{% endblock %}